<div class="ssl-home-list-my">
  <div class="row">
    <div class="col-md-12">
      <ng-template *ngIf="curUser; then tpl_isSignIn; else tpl_noSignIn;"></ng-template>
    </div>
  </div>
  <ng-template #tpl_noSignIn>
    <h5 class="text-warning"><span class="glyphicon glyphicon-info-sign"></span> 您还没有登入，要登入后才能查看您收藏的链接哦！</h5>
    <button class="btn btn-success btn-block" [routerLink]="['/sign/in']">现在就去登入 <i class="glyphicon glyphicon-log-in"></i></button>
  </ng-template>
  <ng-template #tpl_isSignIn>
    <button class="btn btn-success btn-block" [routerLink]="['/link/add']" style="margin-bottom: 10px;"><i class="glyphicon glyphicon-plus"></i> 添加</button>
    <ng-template *ngIf="!links; then tpl_loading; else tpl_loaded;"></ng-template>
    <ng-template #tpl_loading>
      <h5><span class="glyphicon glyphicon-repeat ssl-anim-rotate"></span> 加载中</h5>
    </ng-template>
    <ng-template #tpl_loaded>
      <ng-template *ngIf="links.length; then hasData; else noData;"></ng-template>
      <ng-template #noData>
        <h5 class="text-warning"><span class="glyphicon glyphicon-info-sign"></span> 暂无数据，去添加一条看看！</h5>
      </ng-template>
      <ng-template #hasData>
        <div class="list-group">
          <div *ngFor="let obj of links" class="list-group-item">
            <div class="col-xs-10 col-sm-10 col-md-11">
              <h4 class="list-group-item-heading">
                <a href="{{obj.href}}" target="_blank" class="title" [innerHTML]="obj.title | markToRed:keywords"></a>
                <br>
                <small><i class="glyphicon glyphicon-link"></i> <span class="href" [innerHTML]="obj.href | markToRed:keywords"></span></small>
              </h4>
              <p class="list-group-item-text" [innerHTML]="obj.desc | markToRed:keywords"></p>
            </div>
            <div class="btn-group" style="position: absolute; top: 0; right: 0; height: 100%;">
              <button class="btn btn-default update" style="height: 100%; border: none; border-radius: 0;"><i class="glyphicon glyphicon-pencil"></i></button>
              <button class="btn btn-danger remove" style="height: 100%; border: none; border-radius: 0;" (click)="onRemove(obj)"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
  <!-- Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">询问框 <small>SuSuLink</small></h4>
        </div>
        <div class="modal-body">
          您确定要删除 "{{wantRemoveLink?.title}}" 吗？&hellip;
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-danger" (click)="confirmRemove()">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
