.ssl-user-link-update {
  margin-top: 40px;
}

.ssl-valid {
  border-left: 5px solid #42A948;
}

.ssl-invalid {
  border-left: 5px solid #a94442;
}

.ssl-res-msg {
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}
