<div class="ssl-footer">
  <div class="container">
    <div class="row">
      <div class="footer-about col-md-5 col-sm-12" id="about"><h4>关于 SuSuLink</h4>
        <p>SuSuLink 是由 <a href="http://www.bootcdn.cn/" target="_blank" tabindex="-1">BootCDN</a> 提供全部CDN支持，致力于为广大网友提供快速、稳定、丰富、免费的链接地址查询与管理站点。</p>
        <p>自2017年07月18日上线以来，已经免费提供了上千万次的链接地址查询与分发。</p>
        <p>反馈或建议请发送邮件至：motto2email@163.com</p>
      </div>
      <div class="footer-links col-md-2 col-sm-12"><h4>友情链接</h4>
        <ul class="list-unstyled list-inline">
          <li><a href="https://github.com/" target="_blank" tabindex="-1">GitHub</a></li>
          <li><a href="https://angular.cn/" target="_blank" tabindex="-1">Angular 中文网</a></li>
          <li><a href="http://www.bootcss.com/" target="_blank" tabindex="-1">Bootstrap 中文网</a></li>
          <li><a href="http://www.jquery123.com/" target="_blank" tabindex="-1">jQuery 中文 API</a></li>
          <li><a href="http://www.mongodb.org.cn/" target="_blank" tabindex="-1">MongoDB 中文网</a></li>
          <li><a href="http://glyphicons.com/" target="_blank" tabindex="-1">Glyphicons</a></li>
        </ul>
      </div>
      <div class="footer-techs col-md-2 col-sm-12"><h4>我们用到的技术</h4>
        <ul class="list-unstyled list-inline">
          <li><a href="http://www.bootcss.com/" target="_blank" tabindex="-1">Bootstrap</a></li>
          <li><a href="http://www.jquery123.com/" target="_blank" tabindex="-1">jQuery</a></li>
          <li><a href="https://angular.cn/" target="_blank" tabindex="-1">Angular</a></li>
          <li><a href="http://www.typescriptlang.org/index.html/" target="_blank" tabindex="-1">TypeScript</a></li>
          <li><a href="https://webpackjs.com/" target="_blank" tabindex="-1">Webpack</a></li>
          <li><a href="http://www.npmjs.com.cn/" target="_blank" tabindex="-1">NPM</a></li>
          <li><a href="http://nodejs.cn/" target="_blank" tabindex="-1">NodeJS</a></li>
          <li><a href="https://www.mongodb.com/" target="_blank" tabindex="-1">MongoDB</a></li>
          <li><a href="http://babeljs.cn/" target="_blank" tabindex="-1">BabelJS</a></li>
        </ul>
      </div>
      <div class="footer-sponsors col-md-3 col-sm-12"><h4>战略合作 &amp; CDN 提供</h4>
        <p><a href="https://www.upyun.com/" target="_blank" style="border-bottom: none" tabindex="-1"><img src="http://www.bootcdn.cn/assets/img/upyun.svg?1500283050537" style="width: 120px" alt="又拍云存储"></a></p>
        <p><a href="http://www.bootcdn.cn/" target="_blank" style="border-bottom: none" tabindex="-1"><img src="http://www.bootcdn.cn/assets/img/bootcdn.svg" style="width: 120px" alt="BootCDN 中文网"></a></p>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <span>Copyright © 2017</span><a href="http://www.cnblogs.com/jzsz/" target="_blank" tabindex="-1">九转十指</a><span>All reserved.</span><span><strong>Version</strong> 1.1.55</span>
  </div>
  <a href="#" id="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
</div>
