.ssl-header {
  padding-top: 20px;
  background-color: #1E9FFF;
  /*background-color: #2d8cf0;*/
  position: relative;
}

.ssl-header > .navbar {
  background-color: transparent;
  border-color: transparent;
}

.ssl-header .navbar-toggle {
  background-color: transparent;
  border-color: #fff;
}

.ssl-header .navbar-toggle:hover {
  background-color: transparent;
}

.ssl-header .icon-bar {
  background-color: #fff;
}

.ssl-header > .navbar a {
  color: #eee;
}

.ssl-header > .navbar a:focus, .ssl-header > .navbar a:hover {
  color: #fff;
}

.ssl-header > .navbar .ssl-logotext {
  color: #fff;
  padding: 0 0 0 15px;
  line-height: 50px;
  font-size: 24px;
}

.ssl-header > .content-wrapper .search-wrapper {
  position: relative;
  max-width: 680px;
  margin: 30px auto 76px auto;
  height: 50px;
}

.ssl-header > .content-wrapper .search-wrapper > .search {
  height: 50px;
}

.ssl-header > .content-wrapper .search-wrapper > .glyphicon-search {
  position: absolute;
  top: 18px;
  right: 10px;
  font-size: 16px;
  color: #a3a3a4;
}

.ssl-header > .content-wrapper .text {
  color: #fff;
}

.ssl-header > .content-wrapper .logotext {
  font-size: 56px;
  text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);
  font-weight: 500;
}

.ssl-header > .content-wrapper .desc0 {
  font-size: 22px;
  font-weight: 200;
}

.ssl-header > .content-wrapper .desc1 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
}

.ssl-header > .bottom-wrapper {
  width: 100%;
  height: 52px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding: 9px;
}

.ssl-header > .bottom-wrapper > .list-inline > li {
  margin-right: 36px;
}

.ssl-header > .bottom-wrapper > .list-inline > li:last-child {
  margin-right: 0;
}

.ssl-header > .bottom-wrapper > .list-inline > li > a {
  display: block;
  font-size: 0;
  line-height: 1;
  text-decoration: none;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  opacity: .6;
}

.ssl-header > .bottom-wrapper > .list-inline > li > a:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

.ssl-header > .bottom-wrapper > .list-inline > li > a > img {
  min-width: 32px;
  max-height: 32px;
  vertical-align: bottom;
}
