.ssl-header {
  padding: 20px 0;
  background-color: #1E9FFF;
  /*background-color: #2d8cf0;*/
  position: relative;
}

.ssl-header > .navbar {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
}

.ssl-header .navbar-toggle {
  background-color: transparent;
  border-color: #fff;
}

.ssl-header .navbar-toggle:hover {
  background-color: transparent;
}

.ssl-header .icon-bar {
  background-color: #fff;
}

.ssl-header > .navbar a {
  color: #eee;
}

.ssl-header > .navbar a:focus, .ssl-header > .navbar a:hover {
  color: #fff;
}

.ssl-header > .navbar .ssl-logotext {
  color: #fff;
  padding: 0 0 0 15px;
  line-height: 50px;
  font-size: 24px;
}
