<div class="ssl-header">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand ssl-logotext" href="javascript:;" [routerLink]="['']">SuSuLink</a>
      </div>
      <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <ng-template *ngIf="curUser; then isSignIn; else noSignIn;"></ng-template>
          <ng-template #isSignIn>
            <li><a href="javascript:;" class="text-center">{{curUser.name}}</a></li>
            <li><a href="javascript:;" class="text-center" (click)="signOut()">登出</a></li>
          </ng-template>
          <ng-template #noSignIn>
            <li><a href="javascript:;" class="text-center" [routerLink]="['/sign/up']">注册</a></li>
            <li><a href="javascript:;" class="text-center" [routerLink]="['/sign/in']">登入</a></li>
          </ng-template>
          <li><a href="https://github.com/motto2github/SuSuLink" class="text-center" target="_blank">GitHub地址</a></li>
          <li><a href="javascript:$('body,html').animate({scrollTop: $(document).height()}, 300);" class="text-center">关于</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
