<div class="ssl-sign-up" style="margin-top: 40px;">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <h1 class="visible-xs visible-sm">欢迎注册</h1>
            <h1 class="visible-md visible-lg">欢迎注册成为SuSuLink会员</h1>
          </div>
        </div>
        <form class="form-horizontal" #_form="ngForm">
          <div class="form-group">
            <label for="name" class="control-label col-md-3">用户名</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" #_name="ngModel" required>
            </div>
            <div class="col-md-6 col-md-offset-3 text-danger" [hidden]="_name.valid || _name.pristine">Name is required</div>
          </div>
          <div class="form-group">
            <label for="password1" class="control-label col-md-3">密码</label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="password1" [(ngModel)]="password1" name="password1" #_password1="ngModel" required>
            </div>
            <div class="col-md-6 col-md-offset-3 text-danger" [hidden]="_password1.valid || _password1.pristine">Password is required</div>
          </div>
          <div class="form-group">
            <label for="password2" class="control-label col-md-3">确认密码</label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="password2" [(ngModel)]="password2" name="password2" #_password2="ngModel" required>
            </div>
            <div class="col-md-6 col-md-offset-3 text-danger" [hidden]="_password2.valid || _password2.pristine">Password is required</div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-default" [disabled]="_form.form.invalid">注册 <span class="glyphicon glyphicon-hand-up"></span></button>
              <button type="button" class="btn btn-success" [routerLink]="['/sign/in']">我已经注册了，去登入 <span class="glyphicon glyphicon-log-in"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
