<div class="ssl-sign-in" style="margin-top: 40px;">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <h1>欢迎登入</h1>
          </div>
        </div>
        <form class="form-horizontal" #_form="ngForm">
          <div class="form-group">
            <label for="name" class="control-label col-md-3">用户名</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" #_name="ngModel" required>
            </div>
            <div class="col-md-6 col-md-offset-3 text-danger" [hidden]="_name.valid || _name.pristine">请输入用户名</div>
          </div>
          <div class="form-group">
            <label for="password" class="control-label col-md-3">密码</label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" #_password="ngModel" required>
            </div>
            <div class="col-md-6 col-md-offset-3 text-danger" [hidden]="_password.valid || _password.pristine">请输入密码</div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-default" [disabled]="_form.form.invalid">登入 <span class="glyphicon glyphicon-log-in"></span></button>
              <button type="button" class="btn btn-success" [routerLink]="['/sign/up']">我还没有帐号，去注册 <span class="glyphicon glyphicon-hand-up"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
