.row {
  margin-top: 15px;
}

.glyphicon-share-alt {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ssl-title {
  color: #999;
}

.ssl-history-item {
  white-space: pre-wrap;
}
