/* You can add global styles to this file, and also import other style files */

button {
  outline: none !important;
}

.text-red {
  color: red;
}

@keyframes ssl-keyframes-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ssl-anim-rotate {
  animation: ssl-keyframes-rotate 1s infinite linear;
}

@keyframes ssl-keyframes-move-right{
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(50%);
  }
}

.ssl-anim-move-right {
  animation: ssl-keyframes-move-right 1s infinite linear;
}
