.ssl-reset-password {
  margin-top: 40px;
}

.ssl-valid {
  border-left: 5px solid #42A948;
}

.ssl-invalid {
  border-left: 5px solid #a94442;
}

.ssl-msg-err {
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}

.glyphicon-share-alt {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
